{% load inspector_extras %}
<table class="ic-Table ic-Table--hover-row ic-Table--condensed">
  <thead>
    <tr>
      <th>Parameter name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
{% for k,v in launch_params.items %}
  <tr>
    <td><b>{{ k }}</b></td>
    <td>
      {% if "$" in v or v == '' %}
        <span class="muted">n/a</muted>
      {% else %}
        {% if 'user_image' in k %}
          <img src="{{ v }}"/>
        {% elif 'role' in k and ',' in v %}
          <ul>
          {% with v|split as roles %}
            {% for role in roles %}
              <li>{{ role }}</li>
            {% endfor %}
          {% endwith %}
        </ul>
        {% else %}
          {{ v }}
        {% endif %}
      {% endif %}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
